<nav class="container">
        <div class="hamburger" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <ul class="menu menu-right" id="menu">
            <li><a href="/"><h4>Nieuws</h4></a></li>
            <li><a href="/Binnenlands"><h4>Binnenlands</h4></a></li>
            <li><a href="/sport"><h4>Sport</h4></a></li>
            <li><a href="/weer"><h4>Weer</h4></a></li>
        </ul>
    </nav>
    <script>
        function toggleMenu() {
         const menu = document.getElementById('menu');
     menu.classList.toggle('active');
}</script>