<h1>Dit is het binnenlandse nieuws</h1>
<p>In oudenaarde is een tiener neergestoken door een groep jongeren, hij was op weg naar huis en werd verast door de groep, de tiener ligt nu in het ziekenhuis en het is afwachten op de resultaten</p>
