
<aside>
    <div class="hero">
        <button><h3>Het Nieuws!</h3></button>
     </div>


<div class="article" style="background-color: white">

    <div class="container">

        <H3> Welkom op Het Nieuws – Jouw Bron voor Actueel Nieuws</H3>
       <p style="max-width: 300px;">

Blijf op de hoogte van de laatste ontwikkelingen, zowel lokaal als wereldwijd. Van politiek en economie tot cultuur en sport, wij brengen je het nieuws dat er toe doet, snel en betrouwbaar.


Bij Het Nieuws vinden we het belangrijk dat je toegang hebt tot nauwkeurige en objectieve informatie. Ons team van journalisten werkt onvermoeibaar om de meest relevante verhalen te brengen, zodat jij geïnformeerd blijft, waar je ook bent.
      </p>
      <button class="melding" onclick="showMessage()">Lees meer</button>
    </div>
</aside>

<script>function showMessage() {
    alert("hier is er info");
}</script>
